################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RestoClerkInventory/FileContentIndex
/.vs/RestoClerkInventory/config
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/RestoClerkInventory/bin
/RestoClerkInventory/obj
/RestoClerkInventory/packages.config
/RestoClerkInventory/RestoClerkInventory.csproj
/RestoClerkInventory/RestoClerkInventory.csproj.user
/RestoClerkInventory/Web.config
/RestoClerkInventory/Web.Debug.config
/RestoClerkInventory/Web.Release.config
/RestoClerkInventory.sln
/.vs/RestoClerkInventory/v17
/.vs
/packages
/RestoClerkInventory/GUI/~MOCK_DATA.json
